
@mixin for-md(){
  @media (max-width:768px){
    @content
  }
  
}


.dashboardas{
  margin-right: 0px !important;
}

textarea,select,input{
  outline:none;
}

.SideChatting
{
  width:100%;
  height:20%; 
  position:fixed; 
  bottom:0em; 
  left:0em; 
  border-top:0px solid ; 
  background-color: #353847 !important;
}

.show-on-monitor {
  display: inline;
}

.show-on-phone {
  display: none;
}

@media only screen and (max-width: 600px) {

  .show-on-monitor {
    display: none;
  }

  .show-on-phone {
    display: inline;
  }

  .SideChatting
  {
    padding-bottom: 170px;
    width:100%;
    height:20%; 
    position:fixed; 
    bottom:0em; 
    left:0em; 
    border-top:0px solid ; 
    background-color: #353847 !important;
  }
}



body::-webkit-scrollbar {
  width: 0.8em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

input[type="file"] {
    display: none;
  }
  n
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  };
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import 'variables';
  #page-container.sidebar-dark #sidebar,#page-header{
      background: $primary;
  }
 .page-header-dark #page-header{
   // background: $primary !important;
}
.page-header-dark #page-header .btn-dual, .sidebar-dark #sidebar .btn-dual {
  color: #575757;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
  .login-bg{
    .col-7,.col-5,.row{ min-height: 100%;}
    min-height: 100%;
  }
  .login-cover{
    min-height:100vh !important;
    background-size: contain;
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center; 
  }
  .login-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px 0px #00000019;
border-radius: 44px;
max-width:370px;
border: none;
color:#242424;
font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
&::placeholder{

    
  color:#242424;
  }
  }
  select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

}
  .btn-round{
    
    
    border-radius:20px;
    padding: 7px 16px ;
    
   
    
  }
  body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
  }
  .btn-white{font-size:15px; font-weight: 700;}
  .btn{
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif ;
  }
  .nav-main{
    .nav-main-link{
    padding-left:40px;

      }  
      
  }
  .nav-main-link-name,.nav-main-heading{ color:#fff !important;}
  .nav-main-heading{ font-size:15px;
  text-transform: capitalize;
  }
  .btn-green{
    font-size:11px;
    padding:5px 20px;
    font-weight: 400;
  }
  .btn-grey{
    
    font-size:12px;
    padding:4px 20px;
    font-weight: 700;
    background:#ebebeb;
  }
  .btn-black{
    font-size:15px;
    padding:4px 20px;
    font-weight: 700;
    background:#000;
    color:#fff;
  }
.vector{
  object-fit: contain;
}
.btn-red {
  color: #fff;
  background-color: #A33636;
  border-color: #A33636;
  &:hover{
    color: #fff;
    background-color: #701919;
    border-color: #701919;
  }
}
  .order-btn-grey
  {
    font-weight:600;
    text-align: left;
    width: 100%;
    background:#ebebeb;
    color:#000;
    border-color: #ebebeb;
    &:hover{
      background:#ebebeb;
      border-color: #ebebeb;
      color:#000;
    }
  }
  .order-btn-red
  {
    font-weight:600;
    text-align: left;
    width: 100%;
    background:#A33636;
    color:#fff;
    border-color: #A33636;
    &:hover{
      background:#A33636;
      border-color: #A33636;
      color:#fff;
    }
  }
  .order-btn-black
  {
    text-align: left;
    
    background:#000;
    color:#fff;
    border-color: #000;
  }
  .click{
    cursor: pointer;
  }
  .order-btn-primary
  {
    font-weight:600;
    width: 100%;
    background: $primary;
    color:#fff;
    text-align: left;
    &:hover,&:focus,&:active{
      color:#fff;
    }
  
  }
  .placeholder
  {
    color:#000 !important;
    opacity: 1;
    &::placeholder{color:#000 !important;opacity: 1;}
  }
  .form-btn{
    font-size: 12px;
    &::placeholder{

    
    color:#000;
    }
  }
  .btn-trash{
    background:#A33636;
    color:white;
    padding:2px 7px;
  }
  .trash{
   // font-size:10px;
   color:white;
  }
  option:checked { display:none; }
  .brand-logo{
height:
35px;
  filter:brightness(10000%);
  }


  textarea.order-btn-grey,input.order-btn-grey, select.order-btn-grey{
    border:none;
  }
  .hide{
    display:none !important;
  }
.hide-md{
  @include for-md(){
    display:none;
  }
}
  .badge-dark{
    background: #191919
  }
  .badge-notif{
    border-radius: 23px;
  }
  input:-webkit-autofill::first-line {font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
 // background:#FFFFFF 0% 0% no-repeat padding-box;
}
  .login-input{
    font-size:1rem !important;
    opacity: 1 !important;
    color: #000 !important;
  }
  .block-themed{
    @include for-md(){
      min-height:100vh;
    }
    
  }
  .file-form{
    display:none;
  }

  .btn-dual{ 
    background: rgb(249,249,249) !important;
    color:#242424 !important;
    &:hover{
   background: #EBEBEB !important;
   border-color:#EBEBEB !important;
    }
  }
  .badge-notif {
    padding: 8px;

  }

  .notif-item {
    
    padding-right: 5px;
    &:hover{
      background: #EBEBEB !important;
      border-color:#EBEBEB !important;
       }
  }
  html{
    background:#f9f9f9 !important;
  }
  .invalid{
    
    box-shadow: 0 0 0 0.1rem rgba(255,0,0,.5);
  }
  .delete-notifications {
    font-size: 12px;

  }

  .display-none {
    display: none;
  }

  .text-center {
    text-align: center;
  }

  .block {
    display: block;
    //margin-bottom: 0px;
  }

  .minimal {
    min-width: 200px;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  }
  .minimal:hover {
    min-width: 200px;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  }

  select.minimal:focus {
    min-width: 200px;
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  .acordion{
    max-width:700px;
  }
.acor{
  cursor:pointer;
  margin:10px;
  background-color:$primary;
  padding:10px;
  border-radius:25px;
  color:white;
  .acor-title{
    display:block;
    
    text-align: left;
  }
  .acor-body{
    display:none;
  }
}

.acor.active{
  
  background-color:#EFEFEF !important;
  color:black !important;
  .acor-title{
    //display:none;
    text-align: center;
  }
  .acor-body{
    display:block;
  }
}

.black-text {
  color: black;
}

.no-click { 
  cursor: default;
}

.file-input-trash{
  margin-left: 5px;
  font-size: 18px;
  display: inline;
  vertical-align: middle;
}

.disabled-button {
  cursor: not-allowed;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $primary;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 50px;
  box-shadow: 0px 5px 3px darkgray;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}





#snackbar-new {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $primary;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 50px;
  box-shadow: 0px 5px 3px darkgray;
}

#snackbar-new.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.message-field{
  border-radius: 15px / 15px;
  background-color: #fff;
  position: relative;
    bottom:0;
    width: 100%;
  .row{
    
  margin: 0;
  //margin-left:-30px;
  //height:75px;
  div{
    padding: 0;
  }
  }
      .messages{
        height:80vh;
        width: 100%;
        overflow-y: auto;
        p{
          
          border-radius:25px;
          //padding:25px;
          padding:12px 15px;
          max-width: 60%;
          margin:5px;
        }
        .message-sent{
          background-color: #ccc;
          color:#000;
          position: relative;
          left:20px;
        }
        .message-received{
          background-color: $primary;
          color:#fff;
          position: relative;
          right:20px;
          margin-left:auto;
        }
      }
      input{
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 15px;
      }
      button{
        border-radius: 0px 0px 15px 0px;
        
        width: 100%;
        height: 100%;
        color:#fff;
        
      }

}

.my-switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.my-switch > a, .my-switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.my-check-toggle-round-flat:checked ~ .my-off {
  color: #F36F25;
}

input.my-check-toggle-round-flat:checked ~ .my-on {
  color: #fff;
}

.my-switch > .my-on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.my-switch > .my-off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.my-check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.my-check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.my-check-toggle-round-flat + label {
  padding: 2px;
  width: 102px;
  height: 43px;
  background-color: #F36F25;

  border-radius: 60px;
}
input.my-check-toggle-round-flat + label:before, input.my-check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.my-check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;

  border-radius: 60px;
}
input.my-check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.my-check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.language-toggle {
  a{
    display: inline-block;
    font-size: 14;
font-weight:600;
    height: 100%;
    color:$primary;
  border-radius: 52px;
  text-align: center;
    div{
    position: relative;
    top:7px;
    }
  }
  .my-on{
    color:#fff;
    background:$primary;
    width: 50%;
  }
  .my-off{
    color:$primary;
    background:#fff;
    width: 50%;
  }
  padding: 4px;
  width: 102px;
  height: 43px;
  border-radius: 52px;
  background-color: #fff ;
  display: inline-block;
}

.hex-dropdown{
  position:absolute;
   background:#fff;
   border: 2px $primary solid;
   padding:0.375rem 0.75rem ;
   //margin: 0.375rem -0.75rem;
 }
 .hexcube{
   width: 25px;
   height: 25px;
   display: block;
 }
 #action-buttons{
   background: $primary;
   .btn{
       border-radius:0 ;
       margin: 0;
       }
 }

 .btn-add-color {
   outline-style: dotted;
   width: 110px;
   font-size: 11px;
   height: 29px;
   text-align: center;
   cursor: pointer;
 }


.color-trash-icon {
  margin-left: 4px;
  font-size: 18px;
  display: inline;
}

.unseen-count-pill {
  color: black;
  background: white;
  margin-left: 5px;
}

.resource {
  object-fit: cover;
  margin: 2px;
  width: 450px;
  height: 500px;
  position: relative;
  color: white;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

#fadein-overlay {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(#013b23, .4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.resource:hover {
  img {
    transform: scale(1);
    transition: transform 0.5s;
  }
  #fadein-overlay {
    opacity: 1;
  }
}

//---------------------------------------

.con{
  display:inline-block;
  position:relative;
  top:0;
  left:0;
}
#cont{
  position:relative;
  top:0;
  left:0;
  height:100%;
  border:1px solid #ebebeb;
  background:#fbfbfb;
}
#inputs{
  width:280px;
  display:inline-block;
  height:100%;
  border:solid #ebebeb 1px;
  background:#fff;
}
.input{
  margin:15px;
  width:200px;
  min-height:75px;
  border:solid #e8e8e8 1px;
  /*box-shadow: 0 0 2px #333;*/
  border-radius: 5px;
  border-bottom:1px solid #e8e8e8;
 background:#ebebeb;
 margin-bottom:5px;
 padding: 5px;
}
.dot, .input-close,.dot-style{
  color:#fff;
  display:block;
  
  background: orange;
  width: 22px;
  height:22px;
  cursor:pointer;
  border-radius:30px;
  font-size: 14px;
  text-align: center;
}
.hidinput{
  border:solid #FFF 5px;
  border-radius:12px;
  min-height:75px;
  min-width:250px;
  position:absolute;
  margin-left:24px;
  margin-top:-32px;
}
.dotcont{
  position: absolute;
}
.line{
  position:absolute;
}
.input-close{
  display:inline-block;    
  background: #FF3333;
  float:right;
  }

.card{
  padding: 10px;
  border: 2px solid lightgray;
  background: #e6e6e6;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  .c-head{
    /*
      border-bottom: 1px solid #ccc ;
      display:block;
      height:35px;
      width: 100%;*/
  }
  .c-body{
    display: flex;
    flex-direction: column;
    .c-body-top-row {
      .c-body-bottom-row-name {
        font-weight: bold;
        font-size: 16px;
      }
      .c-body-bottom-row-date {
        font-size: 12px;
      }
    }
    .c-body-bottom-row {
      font-size: 12px;
    }
  }
  .c-user{

    margin-right: 20px;
    width: 36px;
    height: 36px;
  }

  .c-user-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 150;
    bottom: 50;
  }
  
}
.input-card{
  position: absolute;
  left:30px;
  top:-30px;
  z-index: 1000;
  background-color: #fff;
  .c-head{
  border-bottom: 1px solid #ccc ;
  display:block;
  height:35px;
  width: 100%;
  padding: 5px 15px;
  }
  .c-body{
      padding :15px
}

textarea{
      border:none;
  }
.close, .delete{
      position: relative;
      right:0px;
      font-size:18px;
      cursor:pointer;
      top:4px;
      float: right;
      font-weight: 600;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;
}

}
[original_id]{
  display: none;
}
.img-selected{
  opacity:1 !important;
}

.comments-page-inputs-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid lightgray;
  background: #e6e6e6;

  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}
.dots-submit{
  display: inline-block;
  width:  auto;
  margin: auto;
}

.cus-tooltip-container {
  color: black;
  z-index: 10000;
  //position: absolute;
  //margin-left:100%;
  position: fixed;
  width: 300px;
  background: #f3f3f3;
  border: rgb(243, 243, 243) solid 3px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 10px 5px 5px lightgrey;
}

.display-none-on-medium {
  @media (max-width: 990px) {
    display: none !important;
  }
}

.cus-tooltip-container:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #f3f3f3 transparent transparent;
  top: 11px;
  left: -20px;
}

.cus-tooltip-upper-box {
  margin-bottom: 15px;
}

.cus-tooltip-title {
  margin-bottom: 15px;
  color: black;
}

.cus-tooltip-text {
  font-size: 15px;
  color: black;
}

.cus-tooltip-down-box {

}

.cus-tooltip-hide-steps-text {
  color: gray;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
}

.cus-tooltip-next-step-button {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  background: rgb(235, 234, 234);
  float: right;
  display: block;
  cursor: pointer;
}

.cus-tooltip-next-step-button:hover {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  background: black;
  color: white;
  float: right;
  display: block;
  cursor: pointer;
}

.cus-tooltip-caller .cus-tooltip-container {
  visibility: hidden;
}

.cus-tooltip-caller:hover .cus-tooltip-container {
  visibility: visible;
}

.img-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.img-preview-container-item {
  max-width:180px;
  max-height:180px;
  width: 180px;
  height: 180px;
  box-shadow: 5px 5px 5px lightgray;
  //object-fit: cover;
}
body{
  transition: 0.15s;
}
.d-body-none{
  transition: 0.15s;
  opacity: 0 ; 
}