//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
 $primary: #006A56;
 $primary-dark: #006A56;
 $dark:#333;
 $light:#fff;
 $white:#FFF;
 $danger:#dd2837;
 