@mixin for-filter-sm(){
    @media (max-width:1150px){
      @content
    }
    
  }
  

.filter-input,.order-input{
font-weight: 600;
text-align: left;
background: #ebebeb;
color: #000;
border-color: #ebebeb;
border-radius: 20px;
padding: 7px 16px;
border: none;
    &:disabled{
        color: rgb(66, 66, 66);
    }
    &::placeholder{
        color: rgb(66, 66, 66);
    }
}
.order-group, .filter-group{
    display: inline-block;
    visibility:hidden;
    &.active{
        visibility:visible;
    }

}
.filter-check-group,
.order-check-group, .refresh-btn{
    margin-left: 5px;
    width: 40px;
    //border-radius:0px;
    &.active{
        background-color: $primary-dark;
        //filter:brightness(0.8);
        box-shadow: 0 0 0 0.2rem rgba($primary-dark , 0.5);
    }
}
.refresh-btn{
    @include for-filter-sm(){
        display:none;
      }
}
.order-main-group, .filter-main-group{
display: inline-block;
    @include for-md(){
    display:block;
  }
  @include for-filter-sm(){
    display:none;
  }
}