.filter-input,.order-input{
font-weight: 600;
text-align: left;
background: #ebebeb;
color: #000;
border-color: #ebebeb;
border-radius: 20px;
padding: 7px 16px;
border: none;
    &:disabled{
        color: rgb(66, 66, 66);
    }
    &::placeholder{
        color: rgb(66, 66, 66);
    }
}